
.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;  
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.settings__button {
  display: block;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background: transparent;
  background-image: url(../assets/svg/icons8-setings.svg);
  transition: 0.5s;position: absolute;
  bottom: 30px;
  left: 30px;
  filter: invert(0%) sepia(1%) saturate(7500%) hue-rotate(308deg) brightness(111%) contrast(101%);
}

.settings__button:focus {
  transform: rotate(90deg);
}