
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.settings__button {
  display: block;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background: transparent;
  background-image: url(../assets/svg/icons8-setings.svg);
  transition: 0.5s;
  z-index: 22;
}

.settings__button_rotate {
  transform: rotate(90deg);
}