.settings {
  position: relative;

  &__container {
    position: absolute;
    left: 0px;
    width: 250px;
    height: 200px;
    background-color: #574f4f;
    z-index: 1;
    bottom: -530px;
    display: flex;
  }

  &__container_active {
    bottom: 0;
  }

  &__list {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 10px;
  }

  &__item {
    list-style: none;
    padding: 5px;
    cursor: pointer;
    position: relative;
    width: 100%;
    text-align: left;
  }

  // &__submenu {
  //   display: none;
  //   position: absolute;
  //   right: 0px;
  //   top: 0;
  //   width: 150px;
  //   background-color: #574f4f;
  // }

  // &__submenu_active {
  //   display: block;
  //   right: -170px;
  // }

  // &__subitem{
  //   list-style: none;
  //   text-align: left;
  // }
}