.settings {
  position: absolute;
  bottom: 30px;
  left: 30px;

  &__container {
    position: absolute;
    left: 0px;
    width: 150px;
    height: 200px;
    background-color: black;
    z-index: 1;
    bottom: -330px;
  }

  &__container_active {
    bottom: 0;
  }

  &__list {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 10px;
  }

  &__item {
    list-style: none;
    padding: 5px;
    cursor: pointer;
  }
}