@import './owfont-regular.css';

//abstracts
@import './abstracts/variables';
@import './abstracts/placeholders';

//components
@import './components/button';
@import './components/todo';


//old
@import './sass/base';
@import './sass/header';
@import './sass/player';
@import './sass/weather';
@import './sass/slider';
@import './sass/clock';
@import './sass/footer';
@import './sass/settings';
@import './sass/search-bar';

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}